{% include 'header.twig' %}
<div class="ui-header">Film List</div>
<div class="ui-sidebar">
    {% include 'sidebar.twig' %}
</div>
<div class="ui-content">
	<h2>Admin Panel</h2>

	<p> Welcome to the Admin Panel. From here you can -
		<ul>
			<li>View directories</li>
			<li><a href="?page=admin/addfilm">Add a film</a></li>
			<li>Edit a film</li>
			<li>Delete a film</li>
		</ul>
	</div>
{% include 'footer.twig' %}