<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pagetitle | escape }}</title>
        <link href="themes/FilmList/default.css" type="text/css" rel="stylesheet" />
        <script src="resource/jquery-1.11.2.min.js" type="text/javascript" rel="script"></script>
        <script src="resource/showhide.js" type="text/javascript" rel="script"></script>
    </head>
    <body>