<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pagetitle | escape }}</title>
        <link href="themes/FilmList/default.css" type="text/css" rel="stylesheet" />
    </head>
    <body>