{% include 'header.twig' %}
<div class="ui-header">Film List</div>
<div class="ui-sidebar">
    {% include 'sidebar.twig' %}
</div>
<div class="ui-content">
    <form action="loginCheck.php" method="post">
        User Name:<br>
        <input type="text" name="username"><br><br>
        Password:<br>
        <input type="password" name="password"><br><br>
        <input type="submit" name="submit" value="Login">
    </form>
</div>
{% include 'footer.twig' %}