<div id="nav-index">
        <ul>
                <li>
                        <img src="themes/FilmList/img/index.png" width="15px" height="15px">
                        <h4>Home</h4>
                        <span id="nav-index-desc">A list of all films</span>
                </li>
                <li>
                        <img src="themes/FilmList/img/list.png" width="15px" height="15px">
                        <h4>List Films</h4>
                        <span id="nav-index-desc">A list of all films</span>
                </li>
</div>