<div id="nav-index">
        <ul id="ui-sidebar-items">
                <li>
                        <h4><a href="index.php"><img src="themes/FilmList/img/index.png" width="15px" height="15px"> Home</a></h4>
                </li>
                <li>
                        <h4><a href="index.php?page=listfilms"><img src="themes/FilmList/img/list.png" width="15px" height="15px"> List Films</a></h4>
                </li>
</div>